*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.back_img{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url('./img/background_image_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-transform: uppercase;
}
.navbar{
    width: 100%;
    /* height: 20vh; */
    /* background-color: rgb(24, 16, 16); */
    display: flex;
    justify-content: space-between;
}
.nav_side_bar ul  li{
    display: inline-block;
    padding: 40px;
    cursor: pointer;
}
.logo{
    display: flex;
    /* margin-left: ; */
    padding-left: 100px;
}
.logo img{
    width: 80px;
    height: 80px;
    padding-top: 30px;
}
.logo h3{
    padding-top: 30px;
    padding-left: 19px;
    font-weight: 500;
    font-size: 35px;
    /* color: rgb(255,239,0); */
}
.active{
    color: rgb(255,239,0);
    font-weight: 500;
}
.nav_side_bar ul  li:hover{
    color: rgb(255,239,0);
    font-weight: 500;
}
.main_body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main_body h1{
    margin-bottom: 10px;
    letter-spacing:5px;
    font-size: 69px;
}
.main_body p{
    margin-bottom: 18px;
    word-spacing: 3px;
    font-size: 20px;
}
.btn_box{
    padding: 15px;
    background-color: rgb(255,239,0);
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
}
.main_body button{
    margin-left: 200px;
}